$border-color: #d3c1e5;

.container {
  display: block;

  & > input {
    background-color: transparent;
    border: 1px solid $border-color;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 100px;
    color: #453257;
    font-size: 16px;
    font-weight: normal;
    outline: none;
    transition: 0.1s background-color linear;

    &::placeholder {
      color: #ac8ec9;
    }

    &:focus {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
