.no_activity_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;

  & > .icon {
    & > svg {
      fill: #d3c1e5;
      width: 60px;
      height: auto;
    }
  }

  & > .text {
    font-size: 14px;
    font-weight: normal;
    color: #bababa;
  }
}
