$profile_pic_size: 32px;

.container {
  display: flex;
}

.profile_pic {
  flex-shrink: 0;
  display: block;
  width: $profile_pic_size;
  height: $profile_pic_size;
  border-radius: $profile_pic_size / 2;
  background-size: cover;
  background-position: center;
  margin-right: 12px;
  background-color: #e8e8e8;
}

.comment_wrapper {
  display: inline-block;
  width: 100%;
}

.comment_date {
  font-size: 10px;
  color: #bababa;
  margin: 0;
}

.comment_text {
  font-size: 14px;
  color: #67616d;
  margin: 12px 0;
}

.user_info_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user_info {
  display: flex;
  align-items: center;
}

.user_name {
  margin: 0;
  color: #8560a9;
  font-size: 12px;
  margin-right: 12px;
}

.reply_btn {
  background: none;
  border: none;
  padding: 0px 5px;
}

.reply_icon {
  width: 100%;
  height: auto;

  & svg {
    width: 16px;
    height: auto;
    fill: #d5ef7f;
  }
}
