.container {
  height: 68px;
  background-color: #faf9fc;
  padding: 0 15px;
}

.result_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result_count {
  color: #8560a9;
  font-size: 16px;
  font-weight: 600;
  margin: 12px 0;
}

.clear_btn {
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 10px;
  border: 0;
  text-transform: uppercase;
  background-color: #d5ef7f;
  font-weight: 600;
}

.search_info {
  font-size: 12px;
  color: #67616d;
  font-weight: normal;
  margin: 0 0 10px 0;
}
