$size: 12px;

.container {
  display: flex;
  align-items: center;

  & > span {
    margin-right: 5px;
    margin-bottom: -1px;
    & svg {
      width: $size;
    }
  }

  & > p {
    color: #8560a9;
    font-size: $size;
    margin: 0;
  }
}
