.datepicker {
  position: relative;
  border: 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: #8560a9;
  background-color: transparent;

  &:focus {
    background-color: #e5f7a9;
    outline: none;
  }

  &::-webkit-clear-button,
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    position: absolute;
    opacity: 0;
    width: 100%;
    cursor: pointer;
  }
}
