$avatar-size: 20px;

.container {
  display: flex;
  align-items: center;

  & > img {
    display: inline-block;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: $avatar-size / 2;
    margin-right: 8px;
  }
  & > p {
    display: inline-block;
    font-size: 12px;
    margin: 0;
    color: #67616d;
    font-weight: 600;
  }
}
