$base-color: #d5ef7f;
$menubar-bg: #8560a9;
$size: 25px;

.container {
  width: 100%;
  height: 100%;
  height: 40px;
  background-color: $menubar-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  box-sizing: border-box;

  & > .search,
  .logo {
    & svg {
      height: $size;
    }
  }

  & > .logo {
    & svg {
      fill: $base-color;
    }
  }

  & > .profile {
    background: none;
    border: none;
    cursor: pointer;

    & > img {
      height: $size;
      width: $size;
      border-radius: $size / 2;
    }
  }
}
