$tail-size: 7px;

.container {
  position: relative;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;

  & > div {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 5px;

    & > span {
      margin-right: 5px;
      & > svg {
        fill: #d5ef7f;
        height: auto;
        width: 12px;
      }
    }
  }

  & > .dash {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 6px;
    background-color: #d5ef7f;
  }

  &::after {
    content: '\00a0';
    display: block;
    height: 0px;
    position: absolute;
    left: 15px;
    top: -$tail-size;
    border-left: $tail-size solid transparent;
    border-right: $tail-size solid transparent;
    border-bottom: $tail-size solid #ffffff;
  }
}
