.container {
  background-color: #453257;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > .content_wrapper {
    padding: 10px 16px;

    & > div {
      margin-bottom: 25px;
    }
  }
}

.channel_item {
  margin-right: 12px;
}

.search_button_wrapper {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;

  & .search_text {
    display: flex;
    justify-content: center;
    text-align: center;

    & > span > svg {
      width: 14px;
      height: auto;
      margin-bottom: -1.5px;
      margin-right: 5px;
    }

    & > p {
      font-size: 16px;
      margin: 0;
    }
  }

  & .search_details {
    margin: 0;
    font-weight: normal;
    font-size: 10px;
  }
}

.search_btn {
  transition: 0.3s background-color cubic-bezier(0.215, 0.61, 0.355, 1);
  &:disabled {
    background-color: #bababa;
    & p {
      color: #666666;
    }

    & svg {
      fill: #666666;
    }
  }
}
