.button {
  width: 100%;
  height: 100%;
  background-color: #d5ef7f;
  border: none;
  color: #453257;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    background-color: #c0dd62;
  }

  &:focus {
    background-color: #c6eb4e;
  }
}
