.button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;

  & > .text {
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    margin: 5px 0;
    padding: 3px 7px;
    border-radius: 100px;
    transition: 0.15s background-color cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  & > .text--active {
    background-color: #e5f7a9;
    color: #453257;
    font-weight: 600 !important;
  }

  & > .text--normal {
    font-weight: normal;
  }

  & > .text--semibold {
    font-weight: 600;
  }

  & > .text--bold {
    font-weight: bold;
  }

  & > .text--border {
    border: 1px solid #ffffff;
  }

  & > .text--uppercase {
    text-transform: uppercase;
  }
}
