.container {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 2px 0px;
  cursor: pointer;
  text-align: left;
  outline: none;

  & > span svg {
    width: auto;
    height: 10px;
    min-width: 10px;
    margin-right: 5px;
  }

  & > p {
    margin: 0;
  }
}
