$base-color: #d5ef7f;

.container {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  & > .wrapper {
    margin-top: 50px;
    & > .title {
      font-size: 24px;
      color: $base-color;
      text-transform: uppercase;
      font-weight: bold;
    }

    & > .subtitle {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      color: $base-color;
    }

    & > .logo {
      & > svg {
        width: 50px;
        height: auto;
        border: 1px solid $base-color;
        border-radius: 100%;
        padding: 5px;
        fill: $base-color;
      }
    }
  }

  & > .input_group {
    margin-bottom: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    & input {
      width: 100%;
      margin: 10px 0;
    }
  }
}
