.container {
  height: 100vh;

  & > main {
    position: relative;
    height: 90%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    & > .layer {
      background: linear-gradient(0deg, #8560a9 70%, #8560a9 100%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 0.75;
    }

    & > .content {
      position: relative;
      z-index: 2;
      height: 100%;
    }
  }

  & > footer {
    height: 10%;
    background-color: azure;
  }
}
