$active-color: #aecb4f;
$inactive-color: #8c8c8c;

.container {
  min-height: 47px;
}

.container_float--active {
  position: fixed;
  z-index: 10;
  top: 40px;
  width: 100%;
}

.float_tab {
  display: flex;
  justify-content: space-between;
  border: 1px solid #e8e8e8;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;

  & .tab_item {
    display: inline-block;
    cursor: pointer;
    padding: 12px 0;
    background: none;
    border: none;
    width: 100%;

    & > div {
      & > svg {
        fill: $inactive-color;
        display: inline-block;
        width: 20px;
        height: auto;
        vertical-align: middle;
      }

      & > p {
        color: $inactive-color;
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        margin: 0;
        margin-left: 8px;
      }
    }
  }

  & .tab_item--border {
    border-left: 1px solid #e8e8e8;
  }

  & > .tab_item--active {
    & > div {
      & > svg {
        fill: $active-color;
      }

      & > p {
        color: $active-color;
      }
    }
  }
}

.toast {
  position: absolute;
}
