.container {
  display: flex;
  height: 100%;
  width: 100%;
}

.field_wrapper {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  background-color: #8560a9;
}

.close_btn {
  background: none;
  border: none;

  & > svg {
    display: inline-block;
    vertical-align: middle;
    fill: #d5ef7f;
    width: 15px;
    height: auto;
    padding: 9px;
  }
}

.comment_field {
  padding: 8px 15px;
  border-radius: 50px;
  border: none;
  width: 100%;
  margin-right: 10px;
  box-sizing: border-box;
  font-size: 14px;
  color: #67616d;

  &::placeholder {
    color: #d3c1e5;
  }
}

.send_wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  height: 100%;
  background-color: #d5ef7f;
}

.send_btn {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;

  & > svg {
    fill: #8560a9;
    width: 28px;
    height: auto;
  }
}
