@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-BoldIt.eot');
  src: url('SourceSansPro-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-BoldIt.woff2') format('woff2'),
    url('SourceSansPro-BoldIt.woff') format('woff'),
    url('SourceSansPro-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-It.eot');
  src: url('SourceSansPro-It.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-It.woff2') format('woff2'),
    url('SourceSansPro-It.woff') format('woff'),
    url('SourceSansPro-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Bold.eot');
  src: url('SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-Bold.woff2') format('woff2'),
    url('SourceSansPro-Bold.woff') format('woff'),
    url('SourceSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-LightIt.eot');
  src: url('SourceSansPro-LightIt.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-LightIt.woff2') format('woff2'),
    url('SourceSansPro-LightIt.woff') format('woff'),
    url('SourceSansPro-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-ExtraLightIt.eot');
  src: url('SourceSansPro-ExtraLightIt.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-ExtraLightIt.woff2') format('woff2'),
    url('SourceSansPro-ExtraLightIt.woff') format('woff'),
    url('SourceSansPro-ExtraLightIt.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Black.eot');
  src: url('SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-Black.woff2') format('woff2'),
    url('SourceSansPro-Black.woff') format('woff'),
    url('SourceSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-SemiboldIt.eot');
  src: url('SourceSansPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-SemiboldIt.woff2') format('woff2'),
    url('SourceSansPro-SemiboldIt.woff') format('woff'),
    url('SourceSansPro-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-BlackIt.eot');
  src: url('SourceSansPro-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-BlackIt.woff2') format('woff2'),
    url('SourceSansPro-BlackIt.woff') format('woff'),
    url('SourceSansPro-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Light.eot');
  src: url('SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-Light.woff2') format('woff2'),
    url('SourceSansPro-Light.woff') format('woff'),
    url('SourceSansPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Regular.eot');
  src: url('SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-Regular.woff2') format('woff2'),
    url('SourceSansPro-Regular.woff') format('woff'),
    url('SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-ExtraLight.eot');
  src: url('SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-ExtraLight.woff2') format('woff2'),
    url('SourceSansPro-ExtraLight.woff') format('woff'),
    url('SourceSansPro-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('SourceSansPro-Semibold.eot');
  src: url('SourceSansPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('SourceSansPro-Semibold.woff2') format('woff2'),
    url('SourceSansPro-Semibold.woff') format('woff'),
    url('SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
