.active {
  & svg,
  p {
    animation: activePopOut 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@keyframes activePopOut {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
