.date_picker {
  overflow: hidden;
  transition: 0.15s max-height cubic-bezier(0.215, 0.61, 0.355, 1);
  max-height: 0px;

  & > div {
    margin-top: 7px;
  }
}

.date_picker--active {
  max-height: 40px;
}

.list_item > p {
  font-size: 14px !important;
}
