$profile-size: 36px;

.container {
  box-sizing: border-box;
}

.header {
  margin: 16px 16px 0 16px;
}

.header_info {
  margin: 12px 0;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #453257;
  margin: 0;
}

.author {
  margin: 24px 0;
}

.author_img {
  display: inline-block;
  vertical-align: middle;
  width: $profile-size;
  height: $profile-size;
  background-size: cover;
  border-radius: $profile-size / 2;
  background-color: #e8e8e8;
}

.author_info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;

  & > p {
    margin: 0;
  }

  & > .author_name {
    font-size: 14px;
    color: #67616d;
  }

  & > .author_publish {
    font-size: 12px;
    color: #bababa;
  }
}

.carousel {
  overflow: auto;
  margin: 10px 0 12px 0;
  padding: 0 16px;
  box-sizing: border-box;
}

.content {
  position: relative;
  padding: 0 16px;
  transition: 0.3s max-height cubic-bezier(0.55, 0.055, 0.675, 0.19);
  max-height: 300px;
  overflow: hidden;
  border-bottom: 1px solid #e8e8e8;

  & p {
    font-size: 14px;
    color: #67616d;
  }
}

.overlay_wrapper {
  opacity: 1;
  transition: 0.15s opacity cubic-bezier(0.215, 0.61, 0.355, 1);
}

.overlay_wrapper--inactive {
  opacity: 0;
}

.content_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, transparent 50%);
}

.view_all {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #d5ef7f;
  text-transform: uppercase;
  padding: 5px 13px;
  border-radius: 25px;
  color: #67616d;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 16px;
  z-index: 9;
}

.activity_time {
  padding: 16px;
  margin: 15px 0;
}

.label {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 0;
  color: #8560a9;
}

.label_decor {
  width: 4px;
  height: 16px;
  border-radius: 2px;
  background-color: #8560a9;
  margin-right: 5px;
}

.date_wrapper {
  display: flex;
  margin: 15px 0;
}

.date_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  & > p {
    font-size: 16px;
    color: #67616d;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    & > span {
      margin-bottom: -3px;
    }
  }

  & svg {
    width: 16px;
    height: auto;
    fill: #d5ef7f;
  }
}

.sub_date_block {
  display: flex;
  align-items: center;
  min-height: 60px;

  & > h3 {
    font-weight: normal;
    margin: 6px 0;
    font-size: 32px;
    color: #aecb4f;

    & > span {
      font-size: 14px;
      margin-left: 5px;
    }
  }
}

.date_block--border {
  border-right: 1px solid #e8e8e8;
}

.location_container {
  padding: 10px;
}

.location_name_wrapper {
  margin: 10px 0;
}

.location_city {
  font-size: 14px;
  color: #67616d;
  margin: 0;
}

.location_address {
  font-size: 14px;
  font-weight: normal;
  color: #67616d;
  margin: 0;
}

.location_map {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 150px;
}

.people_container {
  padding: 0 15px;
  & > div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
}

.people_separator {
  border-bottom: 1px solid #e8e8e8;
}

.people_info {
  border: 1px solid #e8e8e8;
  border-left: 0;
  border-right: 0;
}

.people_btn_expand {
  display: inline-block;

  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  background: none;
  border: 1px solid #ac8ec9;
  margin: 0 3.5px;
  cursor: pointer;
  transition: 0.3s width, opacity, padding,
    margin cubic-bezier(0.215, 0.61, 0.355, 1);

  & svg {
    width: 18px;
    height: 18px;
    margin-left: -3.5px;
    margin-bottom: -5px;
    fill: #ac8ec9;
  }
}

.people_btn_expand--hide {
  display: none;
  width: 0;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.interaction_button {
  min-width: 70px;
  margin-right: 10px;
  flex-shrink: 0;
}

.people_img {
  display: block;
  width: 100%;
  max-height: 24px;
  overflow: hidden;
  text-align: right;
  transition: 0.3s max-height cubic-bezier(0.215, 0.61, 0.355, 1);

  & > div {
    flex-shrink: 0;
    display: inline-block;
    margin: 0 3.5px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-color: #e8e8e8;
  }
}

.comment_section {
  padding: 16px;
}
