.container {
  padding: 15px;

  & > .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & > .post_wrapper {
    display: flex;
    margin-top: 11px;

    & .post_info_wrapper {
      flex: 1;

      & > button {
        padding: 0;
        margin: 0;
        text-align: left;
        background: none;
        border: none;
        cursor: pointer;

        & > .header {
          & > .title {
            font-size: 18px;
            color: #453257;
            font-weight: 600;
            word-break: break-word;
            margin: 0;
            margin-bottom: 8px;
            text-decoration: none;
            transition: 0.3s color linear;
          }
        }

        & > .description {
          & p {
            color: #67616d;
            margin: 12px 0;
            font-size: 14px;
          }
        }
      }

      & > .post_action {
        display: flex;

        & > button {
          margin-right: 10px;
        }
      }
    }
  }

  .post_img {
    max-width: 64px;
    max-height: 64px;
  }
}
