$height: 40px;
$sider-width: 300px;
$sider-transition-time: 0.3s;
$sider-easing: cubic-bezier(0.645, 0.045, 0.355, 1);
$footer-height: 56px;

.container {
  overflow-x: hidden;

  & > aside {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: $sider-transition-time transform, opacity $sider-easing;
    transform: translateX(-100%);
    opacity: 0;

    & > .overlay {
      position: fixed;
      background: none;
      border: none;
      width: 100%;
      height: 100%;
      outline: none;
    }

    & > .foreground {
      position: fixed;
      background-color: #ffffff;
      width: $sider-width;
      height: 100%;
    }
  }

  & > header,
  main {
    transition: $sider-transition-time transform $sider-easing;
  }

  & > header {
    position: fixed;
    height: $height;
    width: 100%;
    z-index: 10;
  }

  & > main {
    padding-top: $height;
  }

  & > footer {
    position: fixed;
    height: $footer-height;
    width: 100%;
    bottom: 0;
    z-index: 10;
  }
}

.footer_gap {
  height: $footer-height;
}

.sider_active {
  & > aside {
    transform: translateX(0%);
    opacity: 1;
  }

  & > header,
  main {
    transform: translateX($sider-width);
  }
}
