.toggle_icon {
  & svg {
    width: 24px;
    height: auto;
    vertical-align: middle;
  }
}

.toggle_icon--active {
  & svg {
    animation: activePopIn 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

@keyframes activePopIn {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
