.container {
  overflow: hidden;
  width: 100%;
}

.toast {
  width: 100%;
  background-color: rgba($color: #e5f7a9, $alpha: 0.8);
  color: #8560a9;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 7px 0;
  transition: 0.2s transform cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateY(-100%);
}

.toast--active {
  transform: translateY(0%);
}
