$breakpoint-tablet: 768px;

.carousel {
  white-space: nowrap;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.carousel__img {
  width: 180px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: #e8e8e8;
}

.carousel_img_wrapper {
  display: inline-block;
  padding: 0 6px;
}

@media (min-width: $breakpoint-tablet) {
  .carousel__img {
    width: 360px;
    height: 200px;
  }
  .carousel_img_wrapper {
    display: inline-block;
    padding: 0 20px;
  }
}
