$response-width: 56.25%;

.container {
  height: 100%;
  width: 100%;
}

.response_wrapper {
  display: inline-block;
  vertical-align: middle;
  width: $response-width;
  height: 100%;
  background-color: #8560a9;
}

.join_wrapper {
  display: inline-block;
  vertical-align: middle;
  background-color: #d5ef7f;
  width: 100% - $response-width;
  height: 100%;
  text-align: center;
}

.join_button {
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  cursor: pointer;

  & > span > svg {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: auto;
    margin-right: 12px;
    & path {
      fill: #788c36;
    }
  }

  & > p {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    margin: 0;
    color: #788c36;
    font-size: 14px;
  }
}

.comment_button {
  width: 50%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;

  & span,
  svg {
    display: inline-block;
    vertical-align: middle;
  }
  & svg {
    width: 24px;
    height: auto;
    margin-right: 12px;
    fill: #463358;
  }
}
